@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
.button {
  font-family: 'Oxygen Mono';
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
  width: 20px;
  border-radius: 5px;
  background: rgba(100, 100, 100, 0.5);
}
.number:active,
.decimal:active,
.clear:active,
#push:active,
#sign:active {
  background: rgba(150, 150, 150, 0.2);
}
table {
  border-spacing: 10px;
  border-collapse: separate;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
}
#display {
  border: 1px solid black;
  background: white;
  text-align: right;
  padding: 10px;
  font-size: 20px;
}
.operator {
  background-color: red;
}
.operator:active {
  background-color: rgba(255, 0, 0, 0.5);
}
#queue {
  max-width: 200px;
  min-height: 335px;
  background-color: lightgrey;
  margin-left: 300px;
  border: 1px solid black;
  position: relative;
  bottom: 335px;
}
h1 {
  margin-left: 190px;
}
